{% extends "layout.html" %}
{% block page_title %}
FCO ETD Online Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Are you a British citizen?
	  	  	</h1>
	  	  	<hr>
			<p>If you're not sure, <a href="https://www.gov.uk/types-of-british-nationality/british-citizenship" target="_blank">check if you're a British citizen</a></p>
			<p>British overseas citizens, British overseas territories citizens, British protected persons, British subjects and British nationals (overseas) should answer no.</p>
			<div class="form-group">
			  <fieldset>
				<legend class="visually-hidden">Are you a British citizen?</legend>
					<div class="multiple-choice">
					  <input id="radio-1" name="radio-group" value="Yes" aria-controls="britishcitizen-yes" data-target="british-citizen-yes" type="radio">
					  <label for="radio-1">Yes, I am a British citizen</label>
					</div>
					<!--<p class="form-block">or</p>-->
					<div class="multiple-choice">
					  <input id="radio-2" name="radio-group" value="No" aria-controls="britishcitizen-no" data-target="british-citizen-no" type="radio">
					  <label for="radio-2">No, I am a not British citizen</label>
					</div>
			  </fieldset>
       		</div>
						
			<div class="clear-both"><hr><p><a class="button" href="passportlast10years.html" role="button">Next</a></p></div>
			
		</div>	  	  	
	  
	</div>
</main>
{% endblock %}