{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Collection details
</h1>
 
        <p>

          We will check your application to make sure it's valid before issuing your emergency travel document.  It will normally be ready within two working days of us receiving your completed application including your photo and any necessary supporting documents. </p>
          <p>

We will contact you within one working day to tell you when your emergency travel document is ready to collect.</p>
<p>

You will need to collect your emergency travel document from: <p> British Consulate Las Palmas de Gran Canaria.</p>

Calle Luis Morote 6-3"</p>
<p>
  35007 Las Palmas de Gran Canaria </p>
  <p>
  Spain </p>


  <form>
        <div class="form-group">
          <fieldset>

         

            <div class="multiple-choice">
              <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
              <label for="nationalities-british">I will collect my emergency travel document when it is ready to collect</label>
            </div>
            

          </fieldset>

<div class="form-group">
    <a href="tasklistlostfinal" class="button">Complete application</a>
  </div>
      

  </strong>


  

    </div>
  </div>
</main>

{% endblock %}
