{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Emergency travel document terms and conditions



      </h1>

      <p>This application does not breach the terms of any court order in any jurisdiction.</p>

<p>No one included in this application owes money to Her Majesty’s Government for repatriation or similar relief.<p>
The person named in the your details section has not been adopted outside the United Kingdom (or a qualifying territory), unless mentioned on this application.</p>
<p>
The person named in the your details section of this application is a British citizen and has not lost or renounced this status.
</p>
<p>
I, or the person named in the your details section of this application (if different), understand that by voluntarily applying for a British passport, the person named in the your details section may lose citizenship of another country.</p><p>
If the person named in the your details section is under 16 years old, they do not hold a valid certificate of entitlement to the right of abode. </p>
<p>
If the person named in the your details section is under 16 years old, all people with parental responsibility have been consulted and consent to the issue of the Emergency Travel Document.</p>
<p>
The information on this application is true to the best of my knowledge and belief and I understand that I may be liable to prosecution and could face a prison sentence if I include anything that I know to be false or do not believe to be true.</p><p>
I do not know of any reason why an Emergency Travel Document should not be issued.</p><p>
I understand that completing and submitting this application will result in any lost or stolen, full or damaged passport being cancelled, that it may never be used again and if, in the case of a lost or stolen passport, it is subsequently found, it should be returned to the Foreign and Commonwealth Office, nearest Consular Post or Her Majesty’s Passport Office immediately.</p><p>
I understand that the Emergency Travel Document is specific for the journey on the observation page, and that if this changes for any reason after the Emergency Travel Document is produced a new Emergency Travel Document will need to be requested and paid for.</p><p>
I understand that the Emergency Travel Document fee is non refundable.</p><p>
I understand that if making a single trip to the UK, the Emergency Travel Document will be retained by immigration staff on arrival as it will no longer be valid. This may also happen in a number of other countries.</p><p>
I also understand that the Foreign and Commonwealth Office and Her Majesty’s Passport Office hold and use data for purposes notified to the Information Commissioner under the Data Protection Act 1998 (which may be consulted at https://ico.org.uk/). </p> <p>Information about the lost or stolen passport may be shared with appropriate public and private sector authorities who can assist in locating and recovering the missing passport and to help prevent the passport being used for criminal purposes.</p>

<form>
        <div class="form-group">
          <fieldset>
  <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    If you deliberately give untrue or misleading information, we may share information with the police in the UK or abroad and you may be prosecuted..
  </strong>

  <br>
</br>
           

            </div>
            <div class="multiple-choice" data-target="example-different-country">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
              <label for="nationalities-other">I confirm that the details I have recorded in this application are true to the best of my knowledge and that I/the person that I am applying for have/has read and understood the Emergency Travel Document Terms and Conditions.</label>
            </div>
         

          </fieldset>

 <div class="form-group">
    <a href="20nextsteps" class="button">Next</a>
  </div>


    </div>
  </div>
</main>

{% endblock %}
