{% extends "layout.html" %}

{% block page_title %}
  About your photo
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="../1start.html">Emergency Travel Document</a></li>
      <li><a href="../task-list/tasklistsummary1.html">Steps</a></li>
      <li>Take your photo</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      About your photo
      </h1>
        
        <p>You will need to supply a photo for your emergency travel document. This is what a good photo looks like.</p>
        
       <div class="column-half img">
                    <img src="https://www.passport.service.gov.uk/public/images/good-passport-photo.jpg" alt="example of a good photo" width="300" height="430">
                </div>
           
        <div class="grid-row">
    <div class="column-two-thirds">
        
         <h2 class="heading-medium">Tips for a good photo</h2>
      
 
                    <ul class="list list-number">
                        <li>Use a plain background</li>
                        <li>Face the camera</li>
                         <li>Don't smile</li>
                          <li>Keep your mouth closed</li>
                        <li>Take your glasses off</li>
                        <li>Keep your hair away from your face</li>
                        <li>Make sure there are no shadows on your face or behind you</li>
                         <li>You don't <i>have</i> to crop your photo, as we can do it for you</li>
                    </ul>
                   
                    <p>If you need more detail, you can <a href="">read the indepth photo guide</a> and/or <a href="">watch the photo guide video</a> (optional) </p>
                </div>
      
      
      <div class="grid-row">
    <div class="column-two-thirds">
      <br>
      <p>
        <a class="button button-start" href="photo2" role="button">Next - take your photo ></a>
          
</p>
            </div>
<input type="hidden" name="x-csrf-token" value="FL1yeIdc-JOBHoCOHSE77ydXyhLzeLeNecos" />

        <script src="https://www.passport.service.gov.uk/photo/public/javascripts/keepalive.js"></script>
    </div>

        

     
   

</main>

{% endblock %}
