{% extends "layout.html" %}

{% block page_title %}
  Upload photo
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
        <li><a href="../1start.html">Emergency Travel Document</a></li>
      <li><a href="../task-list/tasklistsummary1.html">Steps</a></li>
      <li>Take your photo</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Take your photo
      </h1>
        
        <p>If you are using a phone or tablet that can take photos, you can take a photo and upload it now.</p>
        
        <p>If you have an existing photo, you can upload it now. It must be less than 4 months old and meet the <a href="photo1">photo requirements</a>. Your photo may be in your pictures, photos, downloads or desktop folder. Or in an app like iPhoto.</p>
        <div class="panel panel-border-wide">
                <p>We’ll store all photos for up to 30 days in line with our <a href="" class="new-window" target="_blank">privacy policy<span class="visuallyhidden">(Opens in a new window)</span></a>.</p>
            </div>        
      
        </br>
    

</div>

            </div>
        
      <p>
        <a class="button button-start" href="../task-list/tasklistsummary2.html" role="button">Upload a photo</a>
          

      <br/>
            <br/>
          <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">Send this page to the device I'm using to upload the photo</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can text or email this page to the device you are using to take the photo. If a friend is using their phone to take photo of you, enter their phone number here.</p>
                    
                     <form class="form">

      <label class="heading-small" for="full-name-f1">Phone number or email</label><br/>
            <p class="form-hint">of the device you're using to take and/or upload the photo</p>
<input class="form-control" id="full-name-f1" type="text">
                </div>
            </details>
          
      <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I have a printed photo</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can’t use a printed photo with this service. You’ll need to get a digital photo.</p>
                </div>
            </details>
      
            <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I can't get a digital photo</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Taking a digital photo will speed up your application. Can you ask someone with a phone to help you? Such as a tour guide or a member of hotel staff or a neighbour.  If you cannot take a digital photo please call +1 403 538 2181</p>
                </div>
            </details>
       
    </div>

        

     
   

</main>

{% endblock %}
