{% extends "layout.html" %}
{% block page_title %}
FCO ETD Online Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Get an emergency travel document
			<span class="heading-secondary">RELEASE 1 PROTOTYPE</span>
	  	  	</h1>
	  	  	<hr>
	  	  	<div class="submenu">
				<ol class="list list-number">					
					<li><a href="intro-howitworks.html">How it works</a></li>
					<li><a class="currentpage" href="intro-howtoapply.html">How to apply</a></li>
					<li><a href="intro-notbritishcitizen.html">If you're not a British citizen</a></li>
				</ol>
			</div>
			
			<h2 class="heading-medium">2. How to apply</h2>
			
			<p>You can apply online if you’re a <a href="https://www.gov.uk/types-of-british-nationality/british-citizenship" target="_blank">British citizen</a> abroad and meet the <a href="intro-howitworks.html#eligibility">eligibility requirements</a>.</p>
			<p>You can only get an emergency travel document if you're abroad. If the person needing to travel is currently in the UK they should apply for a passport.</p>
			<p>An emergency travel document is normally issued within 2 working days and can sometimes be done within 24 hours. It costs £100 or the equivalent in local currency which can be paid online or in the consulate. The fee isn’t refundable. For the most efficient and quickest way to process your ETD application you are advised to pay online now, if you can, during this application.</p>

			<p><a class="button button-start" href="howapplying.html" role="button">Start Now</a></p>
			
			<hr>

			<p>To apply you'll need (for the person needing to travel):</p>
			<p>
			<ul class="list-bullet">
				<li>an email address, so we can confirm receipt of your application</li>
				<li>proof of your travel plans, eg flight booking confirmations (or detailed written travel plans if you can't book ahead)</li>
				<li>a local police report if your passport has been stolen or your current passport if you still have it</li>
				<li>proof of residency if your final destination is outside the UK or the European Economic Area</li>
				<li>a passport-sized photograph (passport photo requirements)</li>
			</ul>
			</p>
			<p>You may have to attend an appointment at the nearest British embassy, high commission or consulate to complete the application. You will be given the opportunity, if necessary to book an appointment at the end of this application.</p>
			<p>If the applicant is under 16, all those with parental responsibility should attend the appointment with them even if not travelling. If all those with parental responsibility cannot attend, we will require a signed consent letter.</p>

			<h2 class="heading-medium">How long will it take?</h2>
			
			<p>Should you require an appointment, in most cases you’ll get your emergency travel document on the same day. If your situation is more complex it will be issued within 48 hours.</p>
			<p>It'll take you approximately 15 minutes to complete this application. The application will time out after 20 minutes without activity. You can use your browser's back button to return to previous pages until you submit your application.
			If you're using a shared computer eg in an internet cafe, close the browser window when you leave the computer. This will keep your data safe
			By using this service, you accept our cookie policy and terms and conditions.</p>
			
			<h2 class="heading-medium">Apply on behalf of someone else</h2>
			
			<p>You can also use this service to apply for an emergency travel document on behalf of someone else if they’re a British citizen, and you are 16 or over. An appointment for the applicant may be required but is not mandatory.</p>
			<p class="panel panel-border-narrow">You usually can’t get an emergency travel document if you’ve never had a  British passport. Contact your nearest <a href="https://www.gov.uk/world/embassies" target="_blank">British embassy, high commission or consulate</a> if you need to travel urgently and don’t have time to apply for a passport before you travel.</p>
			
		
		</div>
		<div class="column-one-third">
			<div class="govuk-taxonomy-sidebar add-title-margin">
				<h2 class="heading-medium">Passports and emergency travel documents </h2>
				<p>Includes how to cancel a lost passport, renew a passport and apply for an emergency travel document.</p>
			
				<nav role="navigation">
					<ul class="list list-bullet">
						<li>
						  <a target="_blank" data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/passport-application-while-visiting-uk" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Apply for or renew a British passport if you're visiting the UK&quot;}" class="related-link" href="https://www.gov.uk//passport-application-while-visiting-uk">Apply for or renew a British passport if you're visiting the UK</a>
						</li>
						<li>
						  <a target="_blank" data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/report-a-lost-or-stolen-passport" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Cancel a lost or stolen passport&quot;}" class="related-link" href="https://www.gov.uk/report-a-lost-or-stolen-passport">Cancel a lost or stolen passport</a>
						</li>
						<li>
						  <a target="_blank" data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/overseas-passports" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Overseas British passport applications&quot;}" class="related-link" href="https://www.gov.uk//overseas-passports">Overseas British passport applications</a>
						</li>
					</ul>
          		</nav>

			</div>
		</div>
	  
	</div>
</main>
{% endblock %}