{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Your old passport
</h1>
 
        <p>

         When you come to your appointment you must bring us your old passport. </p>
          <p>

If you do not bring your old passport to your appointment, we will not be able to issue your emergency travel document<p>




  <form>
        <div class="form-group">
          <fieldset>

         

            <div class="multiple-choice">
              <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
              <label for="nationalities-british">I will bring my old passport to my appointment</label>
            </div>
            

          </fieldset>
          <p>
          </p>

<div class="form-group">
    <a href="tasklistfinal" class="button">Next</a>
  </div>
      

  </strong>


  

    </div>
  </div>
</main>

{% endblock %}
