{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Confirm your details are correct



      </h1>

<p>     
These details may be shared with appropriate public and private sector authorities who can assist in locating and recovering a missing passport and help prevent the passport being used for criminal purposes.. </p> 

<form>
        <div class="form-group">
          <fieldset>
  <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    If you deliberately give untrue or misleading information, we may share information with the police in the UK or abroad and you may be prosecuted.
  </strong>

  <br>
</br>
           

            </div>
            <div class="multiple-choice" data-target="example-different-country">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
              <label for="nationalities-other">When I submit this application, I understand that my/the applicant's existing passport will be cancelled and may never be used again.</label>
            </div>
         

          </fieldset>

 <div class="form-group">
    <a href="tasklist5" class="button">Next</a>
  </div>


    </div>
  </div>
</main>

{% endblock %}
