{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/examples/">Back</a>

      <h1 class="heading-large">
        Contact details
      </h1>

      <p>
       <h1 class="heading-medium">
       What's your home address
       </h1>
       <p>
       </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Building number or name</label>   <p class="form-hint">For example, 23</p>
<input class="form-control" id="full-name-f1" type="text">



<p>
</p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Street</label>   <p class="form-hint">For example, high street</p>
<input class="form-control" id="full-name-f1" type="text">

<div>
</div>
<p>
</p>

      <form class="form">

      <label class="heading-small" for="full-name-f1">City or town</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Postcode (optional)</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">


      <div>
      </div>
      <p>
      </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Country</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>


      <div>
      </div>

      <p>
      </p>

<p>
We'll send a confirmation to the email address you provide and may use it to contact you
</p>

<form class="form">

      <label class="heading-small" for="full-name-f1">Email</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Confirm email (optional)</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Best phone number to contact you now (eg mobile or hotel)</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">


      <div>
      </div>
      <p>
      </p>


      <form class="form">

      <label class="heading-small" for="full-name-f1">Home phone number (optional)
</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>


      <div>
      </div>


          </fieldset>
          <p>
        <a class="button button-start" href="otherinfo" role="button">next</a>
      </p>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
