{% extends "layout.html" %}

{% block page_title %}
  Upload photo
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
        <li><a href="../1start.html">Emergency Travel Document</a></li>
      <li><a href="../task-list/tasklistsummary1.html">Steps</a></li>
      <li>Add your travel ticket</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Add your travel tickets
      </h1>
        
        <p>If you have printed tickets, you can take a photo of them and add them here.  Make sure details like your name, destination and dates are included in the picture.</p>
        
        <p>If you have emailed tickets, you may find it easier to take a screenshot .</p>
        <p> <a href="photo1">Help taking a photo of your documents</a> </p>
        <p> <a href="photo1">Help taking a screenshot</a>




        <p> Select 'choose file' to search for and choose a file, or drag it into the box below or take a new photo </p>
   



        </br>
    
<form method="POST" enctype="multipart/form-data" action= "photo3" name="etd-test-photo">


  <label for="uploading" ></label>
  <input type="file" name= "Uploading" id=:uploading" />





<div> &nbsp; </div>

<div> &nbsp; </div><div> &nbsp; </div><div> &nbsp; </div>




  <div> </div>

        If you are on a desktop or laptop computer and don't already have a file saved, you may find it easier to add a  photo using a device that takes photos, such as a mobile phone or a tablet.
      </div>

         <br/>
          <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">Send a link to the device I'm using to take the photo</span></summary>
                <div class="panel panel-border-narrow">
                    <p> We have already sent a link to the email address your provided in your application.  You can text or email a link to the device you are using to take the photo. If a friend is using their phone to take photo of you, enter their phone number here.</p>
                    
                     <form class="form">

      <label class="heading-small" for="full-name-f1">Phone number or email</label><br/>
            <p class="form-hint">of the device you're using to take and/or upload the photo</p>
<input class="form-control" id="full-name-f1" type="text">
                </div>
            </details>

      
            <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I can't add a file</span></summary>
                <div class="panel panel-border-narrow">
                    <p> You can add a file at any time over the next 5 days.  We will not be able to process your application until this file has been added.</p><p> You could consider asking someone to help you photograph your documents, such as a holiday rep or hotel staff.  .</p> <p>


                
                If you cannot add files, you can send physical documents, however this will delay your application.  Documents can be sent to:

                      British Consulate Malaga
Calle Mauricio Moro Pareto, 2 
Edificio Eurocom
29006 Malaga 
Spain

<div class="multiple-choice" data-target="example-different-country">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
              <label for="nationalities-other">I will post my documents.</label>
            </div>


</p></div></details></form></div> <div> &nbsp; </div>

<div class="column-two-thirds">
   <a  class="button button-start" href="tasklist6" role="button">Next  ></a>
</form>



                    </p>
                </div>
            </details>
       


          

      <br/>
           

        

     
   

</main>

{% endblock %}
