{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Collecting your emergency travel document
</h1>
 
        <p> You will need to collect your emergency travel document from the British Consulate Las Palmas de Gran Canaria.

        <a href="gov.uk" >Address, access and opening hours</a>

        We will contact you within one working day to let you know when your emergency travel document will be ready to collect.






            

          </fieldset>
          <p>
          </p>

<div class="form-group">
    <a href="tasklist5" class="button">Next</a>
  </div>
      

  </strong>


  

    </div>
  </div>
</main>

{% endblock %}
