{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Confirm and submit your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
           
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
        <h3 class="heading-small">
          Reason for applying </h3>
          <br>
          Reason 
          </br>
        </td>

        <td>
          <br><a href="/radio-buttons-checkboxes">Edit reason</a>
          <br>
          <br>
          My passport is lost<br>
          <br>
         
        </td>
        
      </tr>
      <tr>
        <td>
        <h3 class="heading-small">
          Journey details </h3>
          <br>
          Country you are in now 
          </br>
          <br>
          Destination country 
          </br>
          <br>
          Return necessary 
          </br><br>
          Transit countries 
          </br>
          <br>
          Departure date 
          </br><br>
          Arrival date 
          </br><br>
          Mode of travel 
          </br><br>
          Travel reason 
          </br>
        </td>

        </td>
        <td>
          
          <br>
          <a href="/radio-buttons-checkboxes">Edit your journey details</a>
          </br><br>
          Spain 
          </br><br>
          United Kingdom 
          </br><br>
          No 
          </br><br>
          None 
          </br><br>
          1-1-2018 
          </br><br>
          1-1-2018 
          </br><br>
          Plane 
          </br><br>
          To return home 
          </br>
        </td>
        
      </tr>

      </tr>
      <tr>
        <td>
        <h3 class="heading-small">
          Your details </h3>
          <br>
          Your name:
          </br>
          <br>
          Gender:
          </br>
          <br>
          Date of birth: 
          </br><br>
          Place of birth: 
          </br>
          
        </td>

        </td>
        <td>
          
          <br>
          <a href="/radio-buttons-checkboxes">Edit your details</a>
          </br><br>
          Ms Test Test 
          </br><br>
          Female 
          </br><br>
          16-12-1984 
          </br><br>
          Test 
          </br>
        </td>
        
      </tr>
      <tr>
        <td>
          <h3 class="heading-small">
          Your previous names </h3>
        </td>
        <td>
          <br>
          <a href="/radio-buttons-checkboxes">Edit your previous names</a>
          </br><br>
          Not provided
        </td>
        
      </tr>
      <tr>

        <td>
          <h3 class="heading-small">
          Your contact details </h3>
          <br>
          Home Address 
          </br>
          <br>
           
          </br>
          <br> </br>
          <br>
      Email address:
          </br><br>
          Home phone number: 
          </br><br>
          Best number to reach you on: 
          
          </br>
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit your contact details</a>
          </br><br>
          First line of address<br> 
          Street<br> 
          Town/city<br> 
          Postcode<br> 
          Country<br> </br>
          Email: email@email.com <br> </br>
          01234 567890
          <br> </br>
          0777 777777
        </td>
        
       
      </tr>

          <tr>

        <td>
          <h3 class="heading-small">
          Current passport details </h3>
          <br>
          Passport number:
          </br>
          <br>
         
      Date of issue:
          </br><br>
          Date of expiry: 
      
          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit passport details</a>
          </br><br>
          Not provided<br> 
          </br>
          Not provided<br> </br>
          Not provided
         
        </td>
        
       
      </tr>

                <tr>

        <td>
          <h3 class="heading-small">
         What happened to your passport </h3>
          <br>
          Circumstances of loss:
          </br>
          <br>
         
      Passport last seen:
       
      
          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit what happened to your passport</a>
          </br><br>
          Whilst socialising<br> 
          </br>
          Las Palmas

        </td>
        
       
      </tr>
      <tr>

        <td>
          <h3 class="heading-small">
         Police report </h3>
          <br>
          </br>
          Local police informed:

          </br>

          <br>

          Local police station

          <br>
          </br>
         
      Local police report number:
      <br>
      </br>
      Local police report date:
       
      
          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit police report details</a>
          </br><br>
          <br> No
          </br>
          <br> Not provided </br>
         <br>Not provided </br>
       
          <br> Not provided </br> 
        
         

          

        </td>
        <tr>

        <td>
          <h3 class="heading-small">
         Previous passports </h3>
          <br>
          Previous lost or stolen passports:

          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit previous passport details</a>
          </br><br>
          No
         
         
        </td>
        
       
      </tr>
      <tr>

        <td>
          <h3 class="heading-small">
         Other information </h3>
          <br>
        

          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit other information</a>
          </br><br>
          Not provided
         
         
        </td>
        

       
      </tr>

        <td>
          <h3 class="heading-small">
         Consulate selection </h3>
       

          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit consulate selection</a>
          </br><br>
          British Consulate Las Palmas da Tenerife
         
         
        </td>
        
       
      </tr>

      <tr>

        <td>
          <h3 class="heading-small">
         Payment details </h3>
          <br>
          Payment option:

          
        </td>
        <td>
          <br><a href="/radio-buttons-checkboxes">Edit payment selection</a>
          </br><br>
          Offline
         
         
        </td>
        
       
      </tr>

    </tbody>
  </table>
  <div>
  </div>

<p>
</p>
<p>
</p>
<p>
</p>
<br>
</br>

  <div class="clear-both"><p><a class="button" href="declaration.html" role="button">Next</a></p></div>
  




</main>

{% endblock %}
